SUPABASE_URL=https://hsxutsatptikxjrffplt.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhzeHV0c2F0cHRpa3hqcmZmcGx0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3NTk2MTEsImV4cCI6MjA5MDMzNTYxMX0.lZE1Sc7RAmIaW3_RCX7hmjOEoTUDQsgTlU9m2q4M0Yo
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
PORT=3000
NODE_ENV=development
